{% comment %}theme-check-disable ImgLazyLoading
class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient"
{% endcomment %}

{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'nuevapropuesta.css' | asset_url | stylesheet_tag }}
{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}

<div
  class="all-products">
  {%- paginate collections['all'].products by section.settings.products_per_page -%}
    {% for product in collections['all'].products %}
      <div
        class="background-list_productspipe">

        <span>{{ product.title }}</span>
        <img
          src="{{ product.featured_image | image_url: width: 400, height: 400 }}"


          width="476">
        <button
          class="button-color">Agregar al carrito</button>
      </div>
    {% endfor %}
  {%- endpaginate -%}
</div>

{% schema %}
  {
    "name": "nuevapropuesta",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      }, {
        "type": "range",
        "id": "products_per_page",
        "min": 2,
        "max": 18,
        "step": 4,
        "default": 16,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      }
    ]
  }
{% endschema %}