{% comment %}
  theme-check-disable ImgLazyLoading
  class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient"
{% endcomment %}

{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'nuevapropuesta.css' | asset_url | stylesheet_tag }}
{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
{%- endstyle -%}
{%- liquid
  assign all_bolsos = collections.all.products
  if section.settings.collection.all_products_count and section.settings.collection.all_products_count > 0
    assign all_bolsos = section.settings.collection.products
  endif
-%}
<div
  class="all-products"
>
  {%- paginate collections.all.products by section.settings.products_per_page -%}
    {% for product in all_bolsos %}
      <div
        class="background-list_productspipe"
      >
        <span>{{ product.title }}</span>
        <img
          src="{{ product.featured_image | image_url: width: 400, height: 400 }}"
          width="476"
        >
        <button
          class="button-color"
        >
          Agregar al carrito
        </button>
      </div>
    {% endfor %}
  {%- endpaginate -%}
  {%- if paginate.pages > 1 -%}
    {% render 'pagination', paginate: paginate, anchor: '' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "nuevapropuesta",
  "class": "section",
  "settings": [  {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    }, {
    "type": "range",
    "id": "products_per_page",
    "min": 4,
    "max": 16,
    "step": 4,
    "default": 16,
    "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
  },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    }, {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    }, {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }, {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }, {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
